.SelectDiv {
    padding-bottom: 20px;
    transition-duration:  0.15s; // Use max-height for a smoother transition
    
    max-height: 500px; // Set a high max-height for the open state
  
    svg{
        rotate: 180deg;
    }
    h1{
        font-size:24px;
        font-weight: 100;
    }

    &.closed {
      max-height: 50px; // Closed state
      overflow: hidden;

      svg{
        rotate:0deg;
      }
    }
  
    .SelectOptionTitle {
        height: 50px;
        background-color: white;
        cursor: pointer; // Adds a pointer cursor to indicate clickable element
        display: flex;
        align-items: center;
        padding-left:25px;
        border-bottom: solid black 3px;
        justify-content: space-between;
        padding-right:25px;
        border-radius: 5px;
        
    }

    .SelectGrid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding-left:10px;
        padding-top:15px;
        gap:15px;

        .SelectOption{
            background-color: white;
            width:128px;
            height:128px;
            display: flex;
            align-items: center;
            justify-content: center;
            border:solid #484242 2px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            .RadioBox{
                display: flex;
                justify-content: right;
                padding-right: 5px;
                padding-top:5px;
                width: 100%;
                align-items: left;
                
            }
            img{
                width: 75px;
                height: 75px;
                object-fit: contain;
            }
            label{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;
            }
        }
    }

    
}
  
.IngredientDiv {
    width: 600px;
    
    h1{
        font-size:36px;
        margin-bottom: 10px;
        margin-left:10px;
    }

    .IngredientStack{
        border-top:solid #DD7B7B 3px;
        border-radius: 5px;
        .IngredientStackButtons{
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            margin-top:30px;
            width: 100%;
        }
        .ResetButton{
            font-size:24px;
            border: none;
            background-color: white;
        }
        .OrderButton{
            font-size:24px;
            background-color: #DD7B7B;
            border:none;
            border-radius: 5px;
            width: 200px;
            height: 50px;
            color: white;
        }
    }
}
  